p{ line-height: 1em; }
h1, h2, h3, h4{
    color: orange;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
    color: black;
    text-decoration: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover,
a:active{ text-decoration: underline; }

body{
    font-family: arial;
    font-size: 80%;
    line-height: 1.2em;
    width: 100%;
    margin: 0;
    background: #eee;
}

#logoLink {
  position: fixed;
}

 /* the grey divider */
.divider {
    height: 10px;
    width: 100%;
    background-color: #cccccc;
    position: fixed;
}

#page{
    margin: 5px;
    overflow: scroll;
}

#logo{
    top: 5px;
    width: 20%;
    margin-top: 5px;
    font-family: 'Fjord One', serif;;
    display: inline-block;
    text-align: center;
}

.navi {
    top: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #36454f;
    width: 80%;
    display: inline-block;
    text-align: center;
    float: right;
    height: 50px;
    position: fixed;
}

.navi ul li a:active{
    background-color: #009688;
    font-family: 'Fjord One', serif;
}

.navi li {
    float: right;
    width: 90px;
}

.navi li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #36454f;
    font-family: 'Fjord One', serif;
}

.navi li a:hover {
    background-color: #009688;
    box-shadow: 0px 1px 1px #666;
}

.cont {
    top: 5px;
    height: 50px;
}

/*camera space */


/* the posts aside */
input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.sidebar {
    float: right;
    width: 30%;
    margin-top: 7px;
    margin-right: 80px;
}

.blog-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 8px auto;
    width: 20rem;
}

@media screen and (min-width: 480px) {
    .blog-container {
        width: 28rem;
    }
}

.blog-container a {
    color: #4d4dff;
    text-decoration: none;
    -webkit-transition: .25s ease;
    transition: .25s ease;
}
.blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover {
    background: url("http://facecoverz.com/static/img/uploads/o_facecoverz.com-1317912175824.png");/*picture of the cover
     */
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
}

.blog-author h3::before,
.blog-author--no-cover h3::before {
    background: url("https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png");/*picture of the user */
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
}

.blog-author h3 {
    color: #fff;
    font-weight: 100;
}

.blog-body {
    margin: 0 auto;
    width: 80%;
    font-family: 'Fjord One', serif;
}

.blog-title h1 a {
    margin-top: 25px;
    color: #333;
    font-weight: 100;
    font-family: 'Fjord One', serif;
}

.blog-summary p {
    color: #4d4d4d;
    font-family: 'Fjord One', serif;
}

.blog-tags ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li + li {
    margin-left: .5rem;
}

.blog-tags a {
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

.blog-footer {
    border-top: 1px solid #e6e6e6;
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
}

.blog-footer ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: row;
    -ms-flex: row wrap;
    flex: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li:first-child {
    margin-right: auto;
}

.blog-footer li + li {
    margin-left: .5rem;
}

.blog-footer li {
    color: #999999;
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
}
.blog-footer li a {
    color: #999999;
}

.comments {
    margin-right: 1rem;
}

.published-date {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 0 .5rem;
}

.numero {
    position: relative;
    top: -0.5rem;
}

.icon-star,
.icon-bubble {
    fill: #999999;
    height: 24px;
    margin-right: .5rem;
    -webkit-transition: .25s ease;
    transition: .25s ease;
    width: 24px;
}
.icon-star:hover,
.icon-bubble:hover {
    fill: #ff4d4d;
}

.flex-rw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.generic-anchor {
  color: #009688;
}
.generic-anchor:visited {
  color: #009688;
}
.generic-anchor:hover {
  color: #ccc;
}


footer {
  background: #373737;
  margin-top: auto;
  width: 100%;
}

.footer-list-top {
  width: 33.333%;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif;
}

.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px);
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #373737;
  padding: 0 20px;
}

.footer-social-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 3.5em "Oswald", sans-serif;
  color: #fff;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}

.footer-social-overlap > a {
  font-size: 3em;
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.footer-bottom-section > div:first-child {
  margin-right: auto;
}

.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff;
}

.footer-address {
  display: inline;
  font-style: normal;
  font-size: 16px;
  color: #009688;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em;
  }

  .footer-list-anchor {
    font-size: 1.1em;
  }

  .footer-social-connect {
    font-size: 2.5em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em;
  }

  .footer-list-top {
    width: 100%;
  }

  .footer-list-header {
    font-size: 3em;
  }

  .footer-list-anchor {
    font-size: 1.5em;
  }

  .footer-social-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-social-section::after {
    top: 25%;
  }

  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .footer-social-overlap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }

  .footer-bottom-section {
    padding: 0 5px 10px 5px;
  }

  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto;
  }

  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }

  .footer-bottom-rights {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em;
  }

  .footer-list-anchor {
    font-size: 1.2em;
  }

  .footer-social-connect {
    font-size: 2.4em;
  }

  .footer-social-overlap > a {
    font-size: 2.24em;
  }

  .footer-bottom-wrapper {
    font-size: 1.3em;
  }
}

.footer-bottom-rights {
    color: #009688;
    font-size: 16px;
}


/*.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/*
@media screen and (min-width: 767px) {
    .blog-container {
        width: 40rem;
    }
}

*/